#sidebar {
    width: 250px;
    height: 100vh;
    transition: all 0.3s;
  }
  .collapsed #sidebar {
    width: 0;
    overflow: hidden;
  }
  #content {
    transition: margin-left 0.3s;
    margin-left: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .collapsed #content {
    margin-left: 0;
  }
  .footer {
    /* background-color: #f8f9fa; */
    padding: 0rem;
    text-align: center;
    margin-top: auto;
  }